<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tea Time</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="\public\css\style.css">
    <script src="https://use.fontawesome.com/ccfd5fd345.js"></script>
</head>
<body>

    <section id="home">
        <img class="tea-girl" src="\public\images\tea-girl.png">
        <h1>Tea Time</h1>
    </section>

    <nav id="navbar">
        <div class="nav-container">
            <a href="#calendar">Calendar</a>
            <a href="#journal">Journal</a>
        </div>
    </nav>

    <section id="calendar">
        <h2>Calendar</h2>
        <div class="calendar-report-grid">
            <div class="calendar">
                <h3>June 2020</h3>
                <table>
                    <tr>
                        <th>Sun</th>
                        <th>Mon</th>
                        <th>Tue</th>
                        <th>Wed</th>
                        <th>Thu</th>
                        <th>Fri</th>
                        <th>Sat</th>
                    </tr>
                    <tr>
                        <td>31</td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                    </tr><tr>
                        <td>7</td>
                        <td class="day-neu">8</td>
                        <td class="day-pos">9</td>
                        <td>10</td>
                        <td class="day-pos">11</td>
                        <td>12</td>
                        <td>13</td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td>15</td>
                        <td>16</td>
                        <td>17</td>
                        <td>18</td>
                        <td class="day-pos">19</td>
                        <td class="day-neu">20</td>
                    </tr>
                    <tr>
                        <td>21</td>
                        <td>22</td>
                        <td class="day-neu">23</td>
                        <td>24</td>
                        <td>25</td>
                        <td class="day-neg">26</td>
                        <td class="day-neu">27</td>
                    </tr>
                    <tr>
                        <td class="day-pos">29</td>
                        <td>30</td>
                        <td class="day-pos">1</td>
                        <td class="day-neg">2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                    </tr>
                </table>
            </div>
            <div>
                <h3>Report</h3>
                <div class="report">
                    <h5>June 8, 2020</h5>
                    <h5>Overall Sentiment</h5>
                    <canvas id="sentiment-pie-chart">

                    </canvas>
                    <h5>Subjects You Mentioned</h5>
                    <ul>
                        <li>Shopping</li>
                        <li>Bubble Tea</li>
                        <li>Avatar: the last airbender</li>
                    </ul>
                </div>

            </div>
        </div>


    </section>
    
    <section id="journal">
        <h2>Journal</h2>
        <div class="journal">
            <div class="journal-page">
                <div class="journal-writing">
                    <div class="dropdown">
                        <button class="dropbtn">Dropdown</button>
                        <div class="dropdown-content">
                          <a href="#">April 2020</a>
                          <a href="#">May 2020</a>
                          <a href="#">June 2020</a>
                        </div>
                      </div> 
                </div>
            </div>
            <div class="journal-page">
                <div class="journal-writing">
                    <canvas id="sentiment-pie-chart">

                    </canvas>
                </div>
            </div>
        </div>
    </section>

<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<!-- Your Chat Plugin code -->
<div class="fb-customerchat"
     attribution=setup_tool
     page_id="101078018321989"
     theme_color="#0084ff">
</div>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            xfbml            : true,
            version          : 'v6.0'
        });
    };

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    
</script>
<script>
    window.onscroll = function() {myFunction()};

    // Get the navbar
    var navbar = document.getElementById("navbar");

    // Get the offset position of the navbar
    var sticky = navbar.offsetTop;

    // Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
    function myFunction() {
    if (window.pageYOffset >= sticky) {
        navbar.classList.add("sticky")
    } else {
        navbar.classList.remove("sticky");
    }
    }

</script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    let sentimentChart = document.getElementById("sentiment-pie-chart")
    let size = 500
    sentimentChart.width = size
    sentimentChart.height = size
    var ctxSenti = sentimentChart.getContext("2d");

    function drawPieSlice(ctx, centerX, centerY, radius, startAngle, endAngle, color) {
        ctx.fillStyle = color
        ctx.beginPath()
        ctx.moveTo(centerX, centerY)
        ctx.arc(centerX, centerY, radius, startAngle, endAngle)
        ctx.closePath()
        ctx.fill()
    }
    function calcAngle(percent) {
        let startAngle = (percent / 100) * 2 * Math.PI
        return startAngle
    }

    let sentimentPercents = [50, 25, 25]
    const sentimentPieSlice = sentimentPercents.map(percent => calcAngle(percent))

    let endPos = sentimentPieSlice[0]
    let endNeu = endPos + sentimentPieSlice[1]
    let endNeg = endNeu + sentimentPieSlice[2] 

    drawPieSlice(ctxSenti, size/2, size/2, size/2, 0, endPos, '#a4f4a480')
    drawPieSlice(ctxSenti, size/2, size/2, size/2, endPos, endNeu, '#ecc08380')
    drawPieSlice(ctxSenti, size/2, size/2, size/2, endNeu, endNeg, '#ed6e7880')
</script>

</body>
</html>
