<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tea Time</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="\public\css\style.css">
    <script src="https://use.fontawesome.com/ccfd5fd345.js"></script>
</head>
<body>
    <nav id="navbar">
        <div class="nav-container">

            <a href="#calendar">Calendar</a>
            <a href="#journal">Journal</a>
        </div>
    </nav>

    <section id="calendar">
        <h2>Calendar</h2>
        <div class="calendar-report-grid">
            <div class="calendar">
                <h3>June 2020</h3>
                <table id="calendar-table">
                    
                </table>
            </div>
            <div>
                <h3>Report</h3>
                <div class="report">
                    <h5><span id="month">June</span> <span id="day">8</span>, 2020</h5>
                    <h5>Overall Sentiment</h5>
                    <canvas id="sentiment-pie-chart">

                    </canvas>
                    <h5>Subjects You Mentioned</h5>
                    <ul id="subjects">
                        <li>Shopping</li>
                        <li>Bubble Tea</li>
                        <li>Avatar: the last airbender</li>
                    </ul>
                </div>

            </div>
        </div>


    </section>
    
    <section id="journal">
        <h2>Journal</h2>
        <div class="journal">
            <div class="journal-page">
                <div class="journal-writing">
                    <div class="journal-buttons">
                        <a onclick="changeToApril2020()" href="#journal">April 2020</a>
                        <a onclick="changeToMay2020()" href="#journal">May 2020</a>
                        <a onclick="changeToJune2020()" href="#journal">June 2020</a>
                    </div>
                </div>
            </div>
            <div class="journal-page">
                <div class="journal-writing">
                    <h4 id="journal-title">June 2020</h4>
                    <h4>Overall Sentiment</h4>
                    <canvas id="sentiment-pie-chart-2">

                    </canvas>
                </div>
            </div>
        </div>
    </section>

<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<!-- Your Chat Plugin code -->
<div class="fb-customerchat"
     attribution=setup_tool
     page_id="101078018321989"
     theme_color="#0084ff">
</div>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="./public/js/home.js"></script>
<script type="text/javascript" src="./public/js/messenger.js"></script>


</body>
</html>
