

body {
    font-family: Arial, Helvetica, sans-serif;
}
h1, h2, h3, a {
    text-align: center;
    color: #222222;
    text-transform: lowercase;
    text-decoration: none;

}
section {
    margin: 0 7.5%;
    height: 90vh;
}
nav {
    display: block;
    height: 10vh;
    width: 50%;
    margin: 0 25%;
}
.nav-container {
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.nav-container > a {
    border: 0px solid rgba(34, 34, 34, 0.4);
    background: #222222;
    color: #fff;
    padding: 1% 5%;
}
.sticky {
    top: 0;
    position: sticky;
}
nav > a {
    margin: 5%;

}
#home {
    padding-top: 10vh;
    height: 80vh;
}
.tea-girl {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#calendar {

}
.calendar-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2vh;
}
table, th, td {
    border: 0px solid rgba(34, 34, 34, 0.4);
    border-collapse: collapse;
}
table {
    width: 100%;
    box-shadow: 0 1pt 12pt rgba(0, 0, 0, .15);
}
th {
    text-transform: lowercase;
}
td {
    text-align: center;
    padding: 2vh;
    font-size: 24pt;
    color: rgba(34, 34, 34, 0.4);
}
.day-pos {
    background: #a4f4a480;
}
.day-neg {
    background: #ed6e7880;
}
.day-neu {
    background: #ecc08380;
}
.report {
    width: 100%;
    padding: 10%;
    border-collapse: collapse;
    text-transform: lowercase;
    box-shadow: 0 1pt 12pt rgba(0, 0, 0, .15);
}

#sentiment-pie-chart {
    width: 80%;
    margin: 0 10%;
}

.report > h5 {
    text-align: center;
    font-size: 12pt;
}
.report > ul {
    margin: 0 auto;
}