

body {
    font-family: Arial, Helvetica, sans-serif;
}
h1, h2, h3, a {
    text-align: center;
    color: #222222;
    text-transform: lowercase;
    text-decoration: none;

}
section {
    margin-top: 10vh;
    margin-bottom: 5vh;
}
nav {
    display: block;
    height: 10vh;
    width: 50%;
    margin: 0 25%;
}
.nav-container {
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.nav-container > a {
    border: 0px solid rgba(34, 34, 34, 0.4);
    background: #222222;
    color: #fff;
    padding: 1% 5%;
}
.sticky {
    top: 0;
    position: sticky;
}
nav > a {
    margin: 5%;
}
#home {
    height: 80vh;
}
.tea-girl {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#calendar {
    width: 80%;
    margin: 0 10%;
}
.calendar-report-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.calendar-report-grid > div {
    margin-top: 10vh;
    width: 100%;
}
table, th, td {
    border: 0px solid rgba(34, 34, 34, 0.4);
    border-collapse: collapse;
}
table {
    width: 90%;
    margin: 0 5%;
    box-shadow: 0 1pt 12pt rgba(0, 0, 0, .15);
}
th {
    text-transform: lowercase;
}
td {  
    text-align: center;
    font-size: 24pt;
    color: rgba(34, 34, 34, 0.4);
}
.day-pos {
    background: #a4f4a480;
}
.day-neg {
    background: #ed6e7880;
}
.day-neu {
    background: #ecc08380;
}
.report {
    text-transform: lowercase;
    box-shadow: 0 1pt 12pt rgba(0, 0, 0, .15);
    padding: 5%;
    padding-bottom: 20%;
}
.report > ul {
}

#sentiment-pie-chart {
    width: 80%;
    margin: 0 10%;
}

.report > h5 {
    text-align: center;
    font-size: 12pt;
}
.report > ul {
    margin: 0 auto;
}
#journal {

}
.journal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: 0 10%;
}
.journal-page {
    width: 100%;
    min-height: 80vh;
    box-shadow: 0 1pt 12pt rgba(0, 0, 0, .15);
}
.journal-writing {
    margin: 5%;
    margin-bottom: 20%;
}
.dropbtn {
    background-color: #47bbffbb;
    color: #ffffffee;
    padding: 10%;
    width: 30vh;
    border: none;
    font-size: 1em;
}
.dropdown:hover .dropbtn {
    background-color: #1FADFF;
} 
.dropdown {
    margin: 0 10%;
    padding: 10%;
    position: relative;
    font-size: 1em;
}
.dropdown-content {
    display: none;
    width: 30vh;
    position: absolute;
    z-index: 1;
    box-shadow: 0 1pt 12pt rgba(0, 0, 0, .15);
}
.dropdown-content a {
    color: #222222bb;
    padding: 5% 10%;
    text-decoration: none;
    display: block;
    background-color: #D6F0FFbb;

}
.dropdown-content a:hover {
    background-color: #a4f4a480;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  